/* Work + school picture */

.exp-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}
.work-pic {
  width: 50%;
  padding-left: 1rem;
}
  
/* img class name ? */
  
.school-pic {
  width: 50%;
  padding-left: 1rem;
} 
  

  


